@model List<BlogProject.Models.BlogModel>


<h2>Blog Listesi</h2>
<hr />
@Html.Partial("BlogList", Model)
<div class="row">
@section SagKolon
{
    @Html.Partial("Search")
    @{Html.RenderAction("KategoriListesi", "Category"); }
}

</div>
